body {
    font-family: 'Arial',sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
    color: #333;
    text-align: center;
}

header {
    background: #ff758c;
    padding: 15px;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 10px;
}

nav ul li a {
    text-decoration: none;
    color: whight; 
    font-weight: bold;
}

.page {
    display: none;
    padding: 20px;
}

.page.active {
    display: block;
}

button {
    background: #ff758c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li{
    margin: 5px 0;
}